TASK-1 : TITANIC SURVIVAL PREDICTION

IMPORT

In [35]:
import pandas as pd
import numpy as np
import sys
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report,confusion_matrix

LOAD DATASET

In [11]:
import os

In [12]:
os.getcwd()

'C:\\Users\\KAUSHIK'

In [13]:
os.chdir('C:\\Users\\KAUSHIK\\Downloads')

In [15]:
data=pd.read_csv('tested.csv')

In [16]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

DROP UNNECESSARY COLUMNS

In [19]:
data=data.drop(['PassengerId','Name','Ticket','Cabin','Embarked'],axis=1)

HANDLE MISSING VALUES

In [20]:
data['Age'].fillna(data['Age'].median(),inplace=True)

ENCODE CATEGORICAL VARIABLES

In [21]:
label_encoder=LabelEncoder()
data['Sex']=label_encoder.fit_transform(data['Sex'])

REPLACE INFINITE VALUES WITH NaN

In [22]:
data.replace([np.inf,-np.inf],np.nan,inplace=True)

DROP ROWS WITH Nan VALUES

In [23]:
data.dropna(inplace=True)

SPLIT DATA INTO FEATURES AND TARGET

In [26]:
x=data.drop('Survived',axis=1)
y=data['Survived']

SPLIT DATA INTO TRAINING AND TESTING

In [28]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

TRAIN A DECISION TREE CLASSIFIER

In [29]:
c=DecisionTreeClassifier(random_state=42)
c.fit(x_train,y_train)

DecisionTreeClassifier(random_state=42)

MAKE PREDICTIONS ON TEST SET

In [30]:
y_pred=c.predict(x_test)

EVALUATION

In [32]:
accuracy=accuracy_score(y_test,y_pred)
report=classification_report(y_test,y_pred)
print("ACCURACY : {:2f}%".format(accuracy*100))
print("CLASSIFICATION REPORT : \n",report)

ACCURACY : 100.000000%
CLASSIFICATION REPORT :
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        50
           1       1.00      1.00      1.00        34

    accuracy                           1.00        84
   macro avg       1.00      1.00      1.00        84
weighted avg       1.00      1.00      1.00        84

In [38]:
pd.DataFrame(confusion_matrix(y_test,y_pred),columns=['Predicted No','Predicted Yes'],index=['Actual No','Actual Yes'])

            Predicted No  Predicted Yes
Actual No             50              0
Actual Yes             0             34